#root,
#box,
#textLogin {

  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80vw;
  max-width: 400px;
  height: auto;
}


#textLogin {
  color: #CCCC;
  top: 400px;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

#root {
  top: 50px
}